HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

namenode/local_files_Arvo
namenode/local_files_Daan
namenode/local_files_Warre
namenode/replicated_files_Arvo
namenode/replicated_files_Daan
namenode/replicated_files_Warre
namenode/logs_Arvo
namenode/logs_Daan
namenode/logs_Warre
namenode/APDescription.txt
namenode/MTPs-Main-Container.txt