<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detail</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" href="https://sierra-library.github.io/css/styles.min.css">
    <style>
        .nodegrid{
            display : inline-grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(1,1fr);
        }

        .logdiv{
            width : 500px;
        }

        .nodelog{
            overflow-y : scroll;
            height:500px;
        }
        .nodefiles{
            width:100%;
            display : inline-grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(1,1fr);
        }
    </style>
</head>
<body class="container">
<h1 class="text-huge">Node name:</h1>
<div class="nodegrid">
    <div class="infodiv">
    <div>
        <button class="button button--green button--mobileFull">start</button>
        <button class="button button--red button--mobileFull">stop</button>
        <a href="index.html">
            <button class="button button--primary button--mobileFull">return to server</button>
        </a>
    </div>

    <hr>

    <div class="nodeinfo">
        <h class="text-big"> Node info:</h>
        <p>Information about the node<br><br><br><br></p>
    </div>
    <hr>
        <div class="nodefiles">
            <table>
                <th>Local files:</th>
                <tr>
                    <td>file1</td>
                </tr>
                <tr>
                    <td>file2</td>
                </tr>
                <tr>
                    <td>file3</td>
                </tr>
                <tr>
                    <td>file4</td>
                </tr>
                <tr>
                    <td>file5</td>
                </tr>


            </table>
            <table>
                <th>Replicated files:</th>
                <tr>
                    <td>file1</td>
                </tr>
                <tr>
                    <td>file2</td>
                </tr>
                <tr>
                    <td>file3</td>
                </tr>
                <tr>
                    <td>file4</td>
                </tr>
                <tr>
                    <td>file5</td>
                </tr>
            </table>
        </div>

    </div>

    <div class="logdiv">
        <div class="logbutton">
            <a onclick="window.location.reload()">
                <button class="button button--green button--mobileFull">refresh</button>
            </a>
        </div>
        <hr>
        <div class="nodelog">
            <h class="text-big">Node log:</h>
            <p>the logs coming from the node (dynamically)<br></p>
        </div>

    </div>

</div>
</body>
</html>