<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Command Output</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" href="https://sierra-library.github.io/css/styles.min.css">
</head>
<body class="container">
<!--
Start stop NS

Add Node

Show table of nodes: Name, IP, Port, details -->

<h2 class="text-big">Name Server</h2>
<p>Status: </p>
<button th:if="${!NSStatus}" class="button button--green button--mobileFull" onclick="startNS()">Start NS</button>
<button th:if="${NSStatus}" class="button button--red button--mobileFull" onclick="stopNS()">Stop NS</button>

<h2 class="text-big">Nodes</h2>

<form onsubmit="addNode(event)">
    <div class="formCollapsed">
        <div class="input formCollapsed-item formCollapsed-itemPrimary">
            <input id="nodeName" placeholder="Node name" type="text">
        </div>
        <button class="formCollapsed-item button button-primary" onsubmit="addNode()">
            Add node
        </button>
    </div>
</form>


<table class="table table--responsive">
    <thead>
    <tr class="text-small text-left">
        <th>Name</th>
        <th>Hash</th>
        <th>Location</th>
        <th>Port</th>
        <th>Details</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="node : ${nodes}">
        <td th:text="${node.info.name}"></td>
        <td th:text="${node.info.currentId}"></td>
        <td th:text="${node.port != null ? '6dist.idlab.uantwerpen.be'+node.port.hostPort : 'N/A' }"></td>
        <td th:text="${node.port != null ? node.port.port : 'N/A' }"></td>
        <td><a class="button button--small button--outlined" th:href="${'./detail/'+node.info.name}">Details</a></td>
    </tr>

    </tbody>
</table>



<h1 class="text-big">Shell Command Output</h1>
<button class="button button--primary button--mobileFull" onclick="loadOutput()">Run Command</button>
<pre id="output border">Click the button to fetch command output...</pre>

<script>
    function loadOutput() {
        fetch('/api/logs')
            .then(res => res.text())
            .then(data => {
                document.getElementById('output').textContent = data;
            });
    }

    function addNode(event) {
        event.preventDefault(); // prevent form from reloading the page
        const input = document.getElementById("nodeName");
        const nodeName = input.value.trim();

        if (!nodeName) {
            alert("Please enter a node name.");
            return;
        }
        fetch('/api/node/add/'+name).then(()=>{
            window.location.reload();
        });
    }
    function startNS(){
        fetch('/api/ns/start'+name).then(()=>{
            window.location.reload();
        });
    }

    function stopNS(){
        fetch('/api/ns/stop'+name).then(()=>{
            window.location.reload();
        });
    }

</script>
</body>
</html>
