<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Command Output</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" href="https://sierra-library.github.io/css/styles.min.css">
</head>
<body class="container">
<!--
Start stop NS

Add Node

Show table of nodes: Name, IP, Port, details -->

<h2 class="text-big">Name Server</h2>
<p>Status: <span th:text="${NSStatus ? 'Running' : 'Stopped'}"></span></p>
<p id="start-text"></p>
<button th:if="${!NSStatus}" class="button button--green button--mobileFull" onclick="startNS()">Start NS</button>
<button th:if="${NSStatus}" class="button button--red button--mobileFull" onclick="stopNS()">Stop NS</button>

<h2 class="text-big">Nodes</h2>

<form onsubmit="addNode(event)">
    <div class="formCollapsed">
        <div class="input formCollapsed-item formCollapsed-itemPrimary">
            <input id="nodeName" placeholder="Node name" type="text">
        </div>
        <button class="formCollapsed-item button button-primary" type="submit">
            Add node
        </button>
    </div>
</form>


<table class="table table--responsive">
    <thead>
    <tr class="text-small text-left">
        <th>Status</th>
        <th>Name</th>
        <th>Hash</th>
        <th>Location</th>
        <th>Port</th>
        <th>Details</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="node : ${nodes}">
        <td th:text="${node.info.status ? 'Running' : 'Stopped'}"></td>
        <td th:text="${node.info.name}"></td>
        <td th:text="${node.info.currentId != -1 ? node.info.currentId : 'N/A'}"></td>
        <td th:text="${node.port != null ? '6dist.idlab.uantwerpen.be:'+node.port.hostPort : 'N/A' }"></td>
        <td th:text="${node.port != null  ? node.port.port : 'N/A' }"></td>
        <td><a class="button button--small button--outlined" th:href="${'./detail/'+node.info.name}">Details</a></td>
    </tr>

    </tbody>
</table>

<script>

    function addNode(event) {
        event.preventDefault(); // prevent form from reloading the page
        const input = document.getElementById("nodeName");
        const nodeName = input.value.trim();

        if (!nodeName) {
            alert("Please enter a node name.");
            return;
        }
        fetch('/api/node/add/'+nodeName).then(()=>{
            setTimeout(()=>{           window.location.reload();},1000)
        });
    }
    function startNS(){
        const startText = document.getElementById("start-text");
        startText.textContent = "Starting...";
        fetch('/api/ns/start'+name).then(()=>{
            setTimeout(()=>{           window.location.reload();},7000)
        });
    }

    function stopNS(){
        fetch('/api/ns/stop'+name).then(()=>{
            setTimeout(()=>{           window.location.reload();},500)

        });
    }

</script>
</body>
</html>
